body {
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  height:"100%";
  width:"100%";
}
h1 {
  font-size: 30px;
  font-weight: 800;
}
img {
  height: 200px;
  width: 150px;
  margin: 20px auto;
}
#navbarTitle {
  font-size: 25px;
  color: #ffffff;
  background-color: darkgray;
  border-radius: 0.5rem;
  padding: 3px;
  padding-top: 0px;
  font-size: relative;
  margin-top: 5px;
}
.container {
  text-align: center;
}
.row {
  border: #ffffff solid 2px;
  border-radius: 0.5rem;
  padding: 20px;
}
.active {
  color: #ffffff;
  background-color: darkgray;
  border-radius: 0.5rem;
  }
#active {
  color: #ffffff;
}
.navbar-brand {
  padding: 5px;
  margin-top: 5px;
}
.carousel-item {
  width: 200px;
  margin-left: 100px;
  margin-right: 100px;
}
button {
  border-radius: 0.25rem;
  background-color: #ffffff;
}
footer {
  color: rgb(212, 212, 212);
}
